.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 2% 15px 2%;
    background-color: $background-main-dark;
    border-bottom: 1px solid $border-light-grey;
    
    & > img {
        height: 5vmin;
    }

    &__list {
        flex: 1;
        text-align: left;
        margin: 0;
    }

    &__account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        span {
            color: $unfocused-text;
            margin-right: 10px;
        }

        img {
            height: 7vmin;
            border: 5px solid $accent-purple;
            border-radius: 100%;
            filter: drop-shadow(0px 0px 10px #A32FA3);
        }
    }
}